<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %> <%- include('./partials/script') %>
    <div class="container mt-3">
      <div class="row row-cols-4">
        <% blog.forEach(blog => { %>
            <div class="col">
        <div class="card col" style="width: 18rem">
          <img
            class="card-img-top"
            src="<%=blog.coverImageUrl%> "
            width="500px"/>
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>
          </div>
        </div>
      </div>

      <% }) %>
    </div>
  </body>
</html>
